.container {
  text-align: center;
  p {
    font-size: 16px;
    color: var(--footer-text-color);
  }
  @keyframes footer-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .footer-logo {
    height: 6vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .footer-logo {
      animation: footer-logo-spin infinite 10s linear;
    }
  }
}
